body {
  background: url('/images/background.png');
  font-family: Sans-Serif;
  text-align: center;
  color: #333;
  margin: 0;
}

#iphone {
  width: 381px;
  height: 325px;
  margin: 100px auto 0;
  background: url('/images/iphone.png') no-repeat;
  position: relative;
  z-index: 1;
  transition: background-position 0.25s ease;
  background-position: 0 20px;
}

#iphone:hover {
  background-position: 0 0;
}

#shadow {
  height: 10px;
  margin: -10px auto 40px;
  background: url('/images/shadow.png') center no-repeat;
  position: relative;
  z-index: 2;
}

a {
  display: block;
  width: 135px;
  height: 40px;
  background: url('/images/button.png');
  text-indent: -9001px;
  margin: 0 auto;
}

p {
  width: 440px;
  margin: 0 auto 20px;
}

small {
  font-size: 12px;
  color: #999;
}

@media only screen and (max-device-width: 480px) {
  #iphone {
    margin-top: 20px;
  }

  #shadow {
    margin-bottom: 20px;
  }
}
